In [22]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import RobustScaler

In [3]:
df = pd.read_csv('EPSlion/loan_data.csv')

In [4]:
df.head(10)

,credit.policy,purpose,int.rate,installment,log.annual.inc,dti,fico,days.with.cr.line,revol.bal,revol.util,inq.last.6mths,delinq.2yrs,pub.rec,not.fully.paid
0,1,debt_consolidation,0.1189,829.10,11.350407,19.48,737,5639.958333,28854,52.1,0,0,0,0
1,1,credit_card,0.1071,228.22,11.082143,14.29,707,2760.000000,33623,76.7,0,0,0,0
2,1,debt_consolidation,0.1357,366.86,10.373491,11.63,682,4710.000000,3511,25.6,1,0,0,0
3,1,debt_consolidation,0.1008,162.34,11.350407,8.10,712,2699.958333,33667,73.2,1,0,0,0
4,1,credit_card,0.1426,102.92,11.299732,14.97,667,4066.000000,4740,39.5,0,1,0,0
5,1,credit_card,0.0788,125.13,11.904968,16.98,727,6120.041667,50807,51.0,0,0,0,0
6,1,debt_consolidation,0.1496,194.02,10.714418,4.00,667,3180.041667,3839,76.8,0,0,1,1
7,1,all_other,0.1114,131.22,11.002100,11.08,722,5116.000000,24220,68.6,0,0,0,1
8,1,home_improvement,0.1134,87.19,11.407565,17.25,682,3989.000000,69909,51.1,1,0,0,0
9,1,debt_consolidation,0.1221,84.12,10.203592,10.00,707,2730.041667,5630,23.0,1,0,0,0

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9578 entries, 0 to 9577
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   credit.policy      9578 non-null   int64
 1   purpose            9578 non-null   object
 2   int.rate           9578 non-null   float64
 3   installment        9578 non-null   float64
 4   log.annual.inc     9578 non-null   float64
 5   dti                9578 non-null   float64
 6   fico               9578 non-null   int64
 7   days.with.cr.line  9578 non-null   float64
 8   revol.bal          9578 non-null   int64
 9   revol.util         9578 non-null   float64
 10  inq.last.6mths     9578 non-null   int64
 11  delinq.2yrs        9578 non-null   int64
 12  pub.rec            9578 non-null   int64
 13  not.fully.paid     9578 non-null   int64
dtypes: float64(6), int64(7), object(1)
memory usage: 1.0+ MB

In [6]:
df['credit.policy'].unique()

array([1, 0], dtype=int64)

In [8]:
df['credit.policy'].value_counts()

1    7710
0    1868
Name: credit.policy, dtype: int64

In [10]:
df['purpose'].value_counts()

debt_consolidation    3957
all_other             2331
credit_card           1262
home_improvement       629
small_business         619
major_purchase         437
educational            343
Name: purpose, dtype: int64

In [11]:
df['int.rate'].value_counts()

0.1253    354
0.0894    299
0.1183    243
0.1218    215
0.0963    210
         ...
0.1941      1
0.1741      1
0.1620      1
0.1746      1
0.1756      1
Name: int.rate, Length: 249, dtype: int64

In [14]:
df['pub.rec'].value_counts()

0    9019
1     533
2      19
3       5
5       1
4       1
Name: pub.rec, dtype: int64

In [15]:
df['delinq.2yrs'].value_counts()

0     8458
1      832
2      192
3       65
4       19
5        6
6        2
7        1
13       1
11       1
8        1
Name: delinq.2yrs, dtype: int64

In [12]:
df.describe()

,credit.policy,int.rate,installment,log.annual.inc,dti,fico,days.with.cr.line,revol.bal,revol.util,inq.last.6mths,delinq.2yrs,pub.rec,not.fully.paid
count,9578.000000,9578.000000,9578.000000,9578.000000,9578.000000,9578.000000,9578.000000,9.578000e+03,9578.000000,9578.000000,9578.000000,9578.000000,9578.000000
mean,0.804970,0.122640,319.089413,10.932117,12.606679,710.846314,4560.767197,1.691396e+04,46.799236,1.577469,0.163708,0.062122,0.160054
std,0.396245,0.026847,207.071301,0.614813,6.883970,37.970537,2496.930377,3.375619e+04,29.014417,2.200245,0.546215,0.262126,0.366676
min,0.000000,0.060000,15.670000,7.547502,0.000000,612.000000,178.958333,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.000000,0.103900,163.770000,10.558414,7.212500,682.000000,2820.000000,3.187000e+03,22.600000,0.000000,0.000000,0.000000,0.000000
50%,1.000000,0.122100,268.950000,10.928884,12.665000,707.000000,4139.958333,8.596000e+03,46.300000,1.000000,0.000000,0.000000,0.000000
75%,1.000000,0.140700,432.762500,11.291293,17.950000,737.000000,5730.000000,1.824950e+04,70.900000,2.000000,0.000000,0.000000,0.000000
max,1.000000,0.216400,940.140000,14.528354,29.960000,827.000000,17639.958330,1.207359e+06,119.000000,33.000000,13.000000,5.000000,1.000000

In [16]:
df = pd.get_dummies(df, columns=['purpose'], drop_first=True)

In [17]:
df

,credit.policy,int.rate,installment,log.annual.inc,dti,fico,days.with.cr.line,revol.bal,revol.util,inq.last.6mths,delinq.2yrs,pub.rec,not.fully.paid,purpose_credit_card,purpose_debt_consolidation,purpose_educational,purpose_home_improvement,purpose_major_purchase,purpose_small_business
0,1,0.1189,829.10,11.350407,19.48,737,5639.958333,28854,52.1,0,0,0,0,0,1,0,0,0,0
1,1,0.1071,228.22,11.082143,14.29,707,2760.000000,33623,76.7,0,0,0,0,1,0,0,0,0,0
2,1,0.1357,366.86,10.373491,11.63,682,4710.000000,3511,25.6,1,0,0,0,0,1,0,0,0,0
3,1,0.1008,162.34,11.350407,8.10,712,2699.958333,33667,73.2,1,0,0,0,0,1,0,0,0,0
4,1,0.1426,102.92,11.299732,14.97,667,4066.000000,4740,39.5,0,1,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9573,0,0.1461,344.76,12.180755,10.39,672,10474.000000,215372,82.1,2,0,0,1,0,0,0,0,0,0
9574,0,0.1253,257.70,11.141862,0.21,722,4380.000000,184,1.1,5,0,0,1,0,0,0,0,0,0
9575,0,0.1071,97.81,10.596635,13.09,687,3450.041667,10036,82.9,8,0,0,1,0,1,0,0,0,0
9576,0,0.1600,351.58,10.819778,19.18,692,1800.000000,0,3.2,5,0,0,1,0,0,0,1,0,0
9577,0,0.1392,853.43,11.264464,16.28,732,4740.000000,37879,57.0,6,0,0,1,0,1,0,0,0,0

split features and label

In [19]:
x = df.drop('not.fully.paid', axis=1)
y = df['not.fully.paid']

In [20]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=1)

scaling

In [23]:
columns = ['int.rate','installment','log.annual.inc','dti','fico','days.with.cr.line','revol.bal','revol.util']

scaler = RobustScaler()
scaler.fit(x_train[columns])

x_train[columns] = scaler.transform(x_train[columns])
x_test[columns] = scaler.transform(x_test[columns])

<ipython-input-23-7f3739cb06ca>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x_train[columns] = scaler.transform(x_train[columns])
C:\Users\Naglaa\anaconda3\lib\site-packages\pandas\core\indexing.py:966: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s
<ipython-input-23-7f3739cb06ca>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x_test[columns] = scaler.transform(x_test[columns])
C:\Users\Naglaa\anaconda3\lib\site-packages\pandas\core\indexing.py:966: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

In [24]:
x_train

,credit.policy,int.rate,installment,log.annual.inc,dti,fico,days.with.cr.line,revol.bal,revol.util,inq.last.6mths,delinq.2yrs,pub.rec,purpose_credit_card,purpose_debt_consolidation,purpose_educational,purpose_home_improvement,purpose_major_purchase,purpose_small_business
6316,1,0.464674,0.589277,1.217219,-0.707764,1.454545,2.113177,0.240667,-0.664583,1,0,0,0,0,0,0,0,1
2639,1,0.771739,1.586942,0.491197,0.253534,-0.454545,0.092595,0.677519,0.731250,3,0,0,0,1,0,0,0,0
5553,1,-0.983696,0.176144,0.424039,-0.726304,0.818182,0.381262,0.908104,-0.545833,2,0,0,0,0,0,1,0,0
3260,1,-0.171196,-0.387996,-0.197373,-1.131402,0.727273,-0.206352,-0.535028,-0.795833,3,0,0,0,0,0,0,0,0
6203,1,0.747283,-0.357518,-0.804469,0.195133,-0.636364,0.236950,0.225326,0.916667,0,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2895,1,0.086957,-0.504529,0.535139,0.771727,-0.090909,0.164773,1.871711,0.729167,1,0,0,0,1,0,0,0,0
7813,0,-0.010870,0.860926,0.555080,0.411124,0.090909,0.071991,1.945938,0.281250,5,0,0,1,0,0,0,0,0
905,1,0.108696,0.497245,-0.134216,-0.228505,-0.636364,1.633794,0.506490,0.504167,0,0,1,0,1,0,0,0,0
5192,1,0.934783,1.347601,0.217380,-0.317497,0.454545,0.030755,0.325479,0.070833,1,0,0,0,0,0,0,0,1
235,1,-0.611413,-0.646199,-1.089740,0.146002,-0.272727,-0.753403,-0.093889,-0.256250,0,0,0,0,1,0,0,0,0

In [25]:
x_test

,credit.policy,int.rate,installment,log.annual.inc,dti,fico,days.with.cr.line,revol.bal,revol.util,inq.last.6mths,delinq.2yrs,pub.rec,purpose_credit_card,purpose_debt_consolidation,purpose_educational,purpose_home_improvement,purpose_major_purchase,purpose_small_business
8261,0,0.793478,0.681756,0.466792,1.547625,0.181818,-0.268206,3.519369,0.722917,3,0,0,0,1,0,0,0,0
3431,1,0.858696,2.249276,1.370586,1.044264,-0.545455,0.793608,2.158368,0.089583,3,0,0,0,0,0,0,1,0
5482,1,0.369565,0.898575,0.518420,-1.091541,0.818182,0.226627,-0.505217,-0.935417,7,1,0,1,0,0,0,0,0
3272,1,0.171196,-0.301343,-0.840328,-0.973812,-0.363636,0.010123,-0.312415,-0.154167,3,0,0,0,0,0,0,0,0
4687,1,0.747283,0.936486,0.662551,1.149942,-0.363636,-0.206367,3.039642,1.058333,0,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6508,1,0.179348,0.126057,-0.011146,0.330475,-0.363636,-0.247230,0.088663,0.708333,0,0,0,0,1,0,0,0,0
9432,0,0.086957,0.057968,-0.446785,0.279490,-0.090909,-0.639317,0.011221,0.800000,4,0,0,0,1,0,0,0,0
8981,0,0.429348,0.125012,0.624014,1.149942,-0.272727,-0.504984,7.633121,0.868750,1,0,0,1,0,0,0,0,0
8612,0,0.709239,-0.100472,0.639560,0.344380,-1.090909,-0.319751,0.072183,0.556250,4,0,0,0,1,0,0,0,0
4852,1,-0.008152,0.861113,-0.141529,0.802317,0.272727,-0.278515,-0.080423,-0.295833,0,0,0,0,1,0,0,0,0

In [26]:
y_train

6316    0
2639    0
5553    0
3260    0
6203    0
       ..
2895    0
7813    0
905     0
5192    0
235     0
Name: not.fully.paid, Length: 7662, dtype: int64

In [28]:
y_test

8261    0
3431    1
5482    1
3272    1
4687    0
       ..
6508    0
9432    0
8981    0
8612    1
4852    1
Name: not.fully.paid, Length: 1916, dtype: int64